.first-box
{
    color: wheat;
    background-color: rgb(17, 17, 29);
    width: 800px;
    min-width: 800px;
    height: 500px;
    min-height: 500px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 3%;
    margin-right: 1%;

}
.second-box
{
    color: wheat;
    background-color: rgb(17, 17, 29);
    width: 450px;
    height: 500px;
    min-width: 450px;
    min-height: 500px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 1%;
    margin-right: 2%;
}

.dashboard-panel
{
    display: flex;
    overflow: hidden;
}