@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600&display=swap');

body
{
    background-color: black;
    overflow: hidden;
}
.login
{
    display: flex;
    background-image: url("./login_back.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.Form-container
{
    margin-left: 450px;
    width: 500px;
    justify-content: center;
    margin-top: 50px;
    height: 500px;
    background-color: rgb(20, 14, 35);
    border-radius: 10px;
    padding-left: 60px;
    padding-top: 25px;
}
